<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Lobbyservice</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.LobbyserviceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminGameIndex</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.admin.AdminGameIndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListAccounts</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.admin.ListAccountsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAccount</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.admin.UpdateAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserAccount</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.GetUserAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserGameTemplates</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.GetUserGameTemplatesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserGameTemplate</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.UserGameTemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddGameTemplate</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.AddGameTemplateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserGameServers</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.GetUserGameServersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserGameServer</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.UserGameServerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddGameServer</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.AddGameServerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserGameInstances</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.GetUserGameInstancesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddGameInstance</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.AddGameInstanceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserGameInstance</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.UserGameInstanceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetGameIndex</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.browser.GetGameIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lobbyservice</servlet-name>
		<url-pattern>/lobbyservice/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminGameIndex</servlet-name>
		<url-pattern>/admin/AdminGameIndex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListAccounts</servlet-name>
		<url-pattern>/admin/ListAccounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAccount</servlet-name>
		<url-pattern>/admin/UpdateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserAccount</servlet-name>
		<url-pattern>/user/GetUserAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserGameTemplates</servlet-name>
		<url-pattern>/user/GetUserGameTemplates</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGameTemplate</servlet-name>
		<url-pattern>/user/AddGameTemplate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserGameTemplate</servlet-name>
		<url-pattern>/user/UserGameTemplate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserGameServers</servlet-name>
		<url-pattern>/user/GetUserGameServers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGameServer</servlet-name>
		<url-pattern>/user/AddGameServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserGameServer</servlet-name>
		<url-pattern>/user/UserGameServer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGameInstance</servlet-name>
		<url-pattern>/user/AddGameInstance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserGameInstances</servlet-name>
		<url-pattern>/user/GetUserGameInstances/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserGameInstance</servlet-name>
		<url-pattern>/user/UserGameInstance/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetGameIndex</servlet-name>
		<url-pattern>/browser/GetGameIndex</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- GAE Application Administrator only -->
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/admin/*</url-pattern> 
        </web-resource-collection> 
        <auth-constraint> 
            <role-name>admin</role-name> 
        </auth-constraint> 
    </security-constraint>
	<!-- Any authenticated user -->
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/user/*</url-pattern> 
        </web-resource-collection> 
        <auth-constraint> 
            <role-name>*</role-name> 
        </auth-constraint> 
    </security-constraint>
</web-app>
