<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Lobbyservice</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.LobbyserviceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListAccounts</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.admin.ListAccountsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAccount</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.admin.UpdateAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserAccount</servlet-name>
		<servlet-class>uk.ac.horizon.ug.lobby.user.GetUserAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lobbyservice</servlet-name>
		<url-pattern>/lobbyservice/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListAccounts</servlet-name>
		<url-pattern>/admin/ListAccounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAccount</servlet-name>
		<url-pattern>/admin/UpdateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserAccount</servlet-name>
		<url-pattern>/user/GetUserAccount</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- GAE Application Administrator only -->
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/admin/*</url-pattern> 
        </web-resource-collection> 
        <auth-constraint> 
            <role-name>admin</role-name> 
        </auth-constraint> 
    </security-constraint>
	<!-- Any authenticated user -->
    <security-constraint> 
        <web-resource-collection> 
            <url-pattern>/user/*</url-pattern> 
        </web-resource-collection> 
        <auth-constraint> 
            <role-name>*</role-name> 
        </auth-constraint> 
    </security-constraint>
</web-app>
